.panels-flexible-29 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-29 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-29 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-29 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-29 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-29 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-29 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-29 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-29 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-29 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-29-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-29-inside {
  padding-right: 0px;
}

.panels-flexible-29 {
  width: auto;
}

.panels-flexible-region-29-username {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-12-inside {
  padding-right: 0px;
}

.panels-flexible-region-29-course_title {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-1-inside {
  padding-right: 0px;
}

.panels-flexible-column-29-5 {
  float: left;
  width: 24.8112%;
}

.panels-flexible-column-29-6 {
  float: left;
  width: 74.1888%;
}

.panels-flexible-row-29-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-29-course_navigation {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-29-course_description_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-29-non_course_resources {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-29-in_this_course {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-29-11-inside {
  padding-right: 0px;
}

