.panels-flexible-16 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-16 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-16 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-16 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-16 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-16 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-16 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-16 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-16 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-16 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-16-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-16-inside {
  padding-right: 0px;
}

.panels-flexible-16 {
  width: auto;
}

.panels-flexible-region-16-username {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-12-inside {
  padding-right: 0px;
}

.panels-flexible-region-16-course_title {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-1-inside {
  padding-right: 0px;
}

.panels-flexible-column-16-5 {
  float: left;
  width: 26.4062%;
}

.panels-flexible-column-16-6 {
  float: left;
  width: 72.5938%;
}

.panels-flexible-row-16-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-16-course_navigation {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-16-approval_flag_area {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-13-inside {
  padding-right: 0px;
}

.panels-flexible-region-16-course_description_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-16-non_course_resources {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-16-session_activities {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-14-inside {
  padding-right: 0px;
}

.panels-flexible-region-16-in_this_course {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-16-11-inside {
  padding-right: 0px;
}

